

.container {
	font-size: 0;
	margin: 0;
	border: 0;
	padding: 0;
    height: 800px;
    width: 800px;
    background-color: powderblue;
	display: inline-block;
}

.pixels {
	margin: 0;
	border: 0;
	padding: 0;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.hovered {
	background-color: black
}